.footer {
  padding-top: 150px;
  padding-bottom: 100px;
  color: var(--white);
  font-family: sans-serif;
  background-color: var(--primary-dark);
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.footer a:hover {
  color: var(--primary);
}

.container {
  margin: 0 auto;
  max-width: 1350px;

  display: flex;
  flex-direction: column;
}

.footerCta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 36px;
  max-width: 600px;
  line-height: 1.25;
  letter-spacing: -0.01rem;
}

.divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: rgba(164, 174, 198, 0.2);
  margin: 75px 0;
}

.footerBottom {
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
}

.flex {
  gap: 10px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
}

.socials {
  gap: 15px;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.socialIcon {
  cursor: pointer;
  transition: transform 0.3s;
}

.socialIcon:hover {
  transform: rotateY(180deg);
}

.footer h4 {
  margin: 0;
}

.email {
  display: flex;
  flex: 1;
  height: 48px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right-width: 0;
  padding-left: 15px;
  font-size: 14px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.email:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.submit {
  color: var(--white);
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.7;
  padding: 10px 22px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.group {
  display: flex;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }

  .logo {
    width: 150px;
    height: 50px;
  }

  .container {
    padding: 0 20px;
  }

  .label {
    font-size: 25px;
    max-width: 250px;
  }

  .footerCta {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .divider {
    margin: 50px 0;
  }

  .flex {
    font-size: 15px;
  }

  .footerBottom {
    gap: 40px;
  }
}
